#Busca{
    top: 0px;
    left: 0px;
	text-align: center;
	width: 100%;
	height: 60px;
	background-color: yellowgreen;
}

.pag{
    width: 70%;
    margin-left: 15%;
    margin-right: 15%;
}


.par {
    position: absolute;
    top: auto;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: lightgray;
}

.impar {
    position: absolute;
    top: auto;
    left: 0px;
    width: 100%;
    height: auto;
    background-color: gray;
    color: whitesmoke;
}

.cab{
    height: 20%;
    background-color: lightgray;
    margin-bottom: 3px;
}

.logo{
    padding-left: 7%;
    padding-top: 3%;
}

#hint {
    position: fixed;
    display: none;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #f5f5f5;
}

.container .text-muted {
  margin: 20px 0;
}

#hint > .container {
  padding-right: 15px;
  padding-left: 15px;
}